body {
  font-family: sans-serif;
  margin: 0 ;
  padding: 0;
}

#header {
  background-color: black;
  padding-top: 1%;
  font-size: 200%;
  text-align: left;
  text-align: middle;
}


#Linkin{
  font-size: 65%;
  padding-left: 4%;
  color:White;
}

#logo {
  margin:0;
  color:white;
}


