.App {
    text-align: center;
  }
  
  .App-header {
    text-align: left;
    height: 100%;
  }
  /* h2 {
    padding: 0%;
    margin: 0%; 
    background-color: #222;
    color: white;
    text-align: left;
  } */
  
  .App-intro {
    font-size: 220%;
  }
  
  table {
    width: 100%;
    font-size: 120%;
    text-align: left;
  }
  
  input {
    font-size: 100%;
  }
  form {
    width: 100%;
    text-align: center;
  }
  
  #inside {
    text-align: right;
    width: 40%;
    font-size: 130%;
  }
  
  td {
    color: white;
    padding: 1%;
    width: 50%; 
    height: 50%;
  }

  
  body {
    background-color:#C0B283;
    text-align: center;
  
  }

  
  
  